<div class="header">
    <div class="content">
        <div class="left">
            <div class="logo" (click)="goToHome()">YAP</div>
        </div>
        <div class="right">
            <!-- <div class="link">
                <p class="text" (click)="goToDownload()">Downloads</p>
            </div> -->
            <div class="link">
                <p class="text" (click)="goToSignIn()">Sign In</p>
            </div>
            <div class="link" (click)="toggleTheme()">
                <i class="fa-regular fa-moon"></i>
            </div>
            <div class="link">
                <i class="fa-brands fa-github"></i>
            </div>
        </div>
    </div>
</div>