<app-header></app-header>
<div class="main">
    <div class="content">
        <div class="desktop">
            <div class="title">YAP for Desktop</div>
            <div class="img">
                <img src="assets/downloads/download-desktop-windows.png" alt="">
            </div>
            <button class="button">Download for Windows</button>
            <div class="title-2">Not on Windows?</div>
            <a href="#" (click)="downloadMac($event)">YAP for Mac</a>
            <a href="#" (click)="downloadLinux($event)">YAP for Linux</a>
        </div>
    </div>
</div>
<app-footer></app-footer>