:host {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
}

.toggle-button {
    width: fit-content;
    position: absolute;
    top: 22px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    display: none;

    &.left {
        left: 12px;
        top: 30px;
    }
}

.left-side,
.right-side {
    height: 100vh;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.left-side {
    width: 100%;
    max-width: 459px;
    background-color: var(--chatbox-leftside);
    display: flex;

    .chat-box {
        width: 100%;
        height: 100vh;
        background-color: var(--chatbox);

        .box {
            display: flex;
            flex-direction: column;
            padding: 23px;
            height: 100%;
        }
    }
}

.right-side {
    flex: 1;
    background-color: var(--chatbox-rightside);
}

@media (max-width: 1000px) {
    .left-side,
    .right-side {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        height: 100vh;
        z-index: 1;
    }

    .left-side {
        background-color: var(--chatbox-leftside);
    }

    .right-side {
        background-color: var(--chatbox-rightside);
    }

    .left-side.hidden {
        transform: translateX(-100%);
        pointer-events: none;
    }

    .right-side.hidden {
        transform: translateX(100%);
        pointer-events: none;
    }

    .left-side.expanded,
    .right-side.expanded {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
        z-index: 2;
    }

    .toggle-button {
        display: block;
    }
}