<div class="left-side" [class.expanded]="isLeftExpanded" [class.hidden]="isRightExpanded && isMobile">
    <app-nav-menu [activeTab]="activeTab" [userInfo]="userInfo"></app-nav-menu>
    <i class="fa-solid fa-angle-left toggle-button" (click)="toggleRight()"></i>
    <div class="chat-box">
        <ng-container [ngSwitch]="activeTab">
            <div *ngSwitchCase="'profile'" class="box">
                <app-profile-menu [userInfo]="userInfo"></app-profile-menu>
            </div>

            <div *ngSwitchCase="'chat'" class="box">
                <app-all-chat [userInfo]="userInfo" [contacts]="contacts" [activeConversation]="activeConversation"
                    [conversations]="conversations" (changeConversation)="changeConversation($event)"
                    (goToConversation)="goToConversation($event)">
                </app-all-chat>
            </div>

            <div *ngSwitchCase="'groups'" class="box">
                <app-group-menu></app-group-menu>
            </div>

            <div *ngSwitchCase="'contacts'" class="box">
                <app-contact-menu [contacts]="contacts" (updateContactList)="updateContactList($event)">
                </app-contact-menu>
            </div>

            <div *ngSwitchCase="'settings'" class="box">
                <!-- Settings component -->
            </div>
        </ng-container>
    </div>
</div>

<div class="right-side" [class.expanded]="isRightExpanded" [class.hidden]="isLeftExpanded && isMobile">
    <i class="fa-solid fa-chevron-right toggle-button left" (click)="toggleLeft()"></i>
    <app-chat-box (sendMessage)="sendMessage($event)" [activeConversation]="activeConversation" [userInfo]="userInfo"
        [activeContact]="activeContact">
    </app-chat-box>
</div>

<app-modal [show]="isModalOpen" [modalId]="enterPasswordModalId" (closeAction)="setPrivateKey($event)"></app-modal>