<div class="modal-backdrop" *ngIf="show" (click)="onClose()"></div>
<div class="modal" *ngIf="show">
    <div class="header">
        @if (activeTab && activeOption) {
        <i class="fa-solid fa-arrow-left" (click)="changeTab('', '')"></i>
        } @else {
        <div class="title">{{title}}</div>
        }
        @if (modalId !== modalConstants.ENTER_PASSWORD) {
        <i class="fa-solid fa-xmark" (click)="onClose()"></i>
        }
    </div>
    @if (modalId === modalConstants.ENTER_PASSWORD) {
    <div class="body column">
        <div class="title">Enter password to access your messages!</div>
        <div class="input">
            <input type="password" placeholder="Enter password" [(ngModel)]="inputText" (keydown.enter)="authenticate()"/>
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="send" [ngClass]="{ 'inactive': inputText === ''}" (click)="inputText ? authenticate() : null">
            <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
            <div [style.visibility]="isLoading ? 'hidden' : 'visible'">Submit</div>
        </div>
    </div>
    }
    @else if (modalId === modalConstants.SHOW_CONNECTIONS) {

    }
    @else if (modalId === modalConstants.LOGOUT_WARNING || modalId === modalConstants.LOGOUT_WARNING2) {
    <div class="body column">
        @if (modalId === modalConstants.LOGOUT_WARNING) {
            <div class="title2">Are you sure you want to log out?<br> This will delete all your messages data!</div>
        } @else {
            <div class="title2">An account is already logged in are you sure you want to log in a different account<br> This will delete all your messages data!</div>
        }
        <div class="menu">
            <div class="no" (click)="onClose()">No</div>
            <div class="yes" (click)="onConfirm()">
                <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
                <div [style.visibility]="isLoading ? 'hidden' : 'visible'">Yes</div>
            </div>
        </div>
    </div>
    }
    @else if (modalId === modalConstants.ADD_CONTACT) {
    <div class="body" [ngClass]="{ 'column': activeTab && activeOption }">
        @if (!activeTab && !activeOption) {
        <div class="left">
            <button (click)="changeTab('left', 'button')">Add through ID</button>
            <a href="#" (click)="generateID($event)">Generate your ID</a>
        </div>
        <div class="right">
            <button (click)="changeTab('right', 'button')">Add through QR</button>
            <a href="#" (click)="generateQR($event)">Generate your QR</a>
        </div>
        } @else if (activeTab === 'left' && activeOption === 'button') {
        <div class="title">Enter ID</div>
        <div class="input">
            <input type="text" placeholder="Enter request ID" [(ngModel)]="inputText" />
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="send" [ngClass]="{ 'inactive': inputText === ''}" (click)="inputText ? sendRequest() : null">
            <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
            <div [style.visibility]="isLoading ? 'hidden' : 'visible'">Send</div>
        </div>
        } @else if (activeTab === 'left' && activeOption === 'a') {
        <div class="title">Your invite ID (only works once and will expire in 10 minutes)</div>
        <div class="input">
            <input type="text" placeholder="Enter request ID" [(ngModel)]="requestId" disabled />
            <i class="fa" [ngClass]="copied ? 'fa-check' : 'fa-copy'" (click)="copyToClipboard()"
                style="cursor: pointer"></i>
        </div>
        }
    </div>
    } @else if (modalId === modalConstants.CREATE_GROUP) {
        <div class="body column nopad">
            <div class="title">Group Name</div>
            <div class="input">
                <input type="text" class="input nopad" placeholder="Enter group name" [(ngModel)]="inputText">
            </div>
        </div>
        <div class="body column nopad">
            <div class="title">Group Members</div>
            <div class="select-members" (click)="isContactsMenuOpen = !isContactsMenuOpen">Select Members</div>
            @if (isContactsMenuOpen) {
                <div class="contact-list">
                    <div class="title">Contacts</div>
                    <div class="list">
                        @for(group of contacts; track $index) {
                            <h4>{{ group.letter }}</h4>
                            @for (contact of group.contacts; track $index) {
                                <div class="contact">
                                <div class="radio" (click)="addContact(group.letter, $index)" [class.checked]="contact?.checked">
                                    @if (contact?.checked) {
                                        <i class="fa-solid fa-check"></i>
                                    }
                                </div>
                                    {{ contact.firstName }} {{ contact.lastName }}
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
        <div class="body column nopad">
            <div class="title">Description</div>
            <textarea name="" [(ngModel)]="inputTextarea" id="" class="textarea"></textarea>
            <div class="send margin" [ngClass]="{ 'inactive': inputText === ''}" (click)="inputText ? createGroup() : null">
                <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
                <div>Create Group</div>
            </div>
        </div>
    }
</div>