<div class="container">
    <div class="logo" (click)="navigate('', $event)">YAP</div>
    <div class="title">
        {{ currentRoute === 'login' ? 'Log In' : currentRoute === 'signup' ? 'Sign Up' : 'Reset Password' }}
    </div>
    <div class="desc">{{currentRoute === 'login' ? 'Log in to continue to YAP' : currentRoute === 'signup' ? 'Sign up to continue to YAP' : 'Reset Password With YAP'}}
    </div>

    <div class="login-form">
        <div class="instruction" *ngIf="currentRoute === 'forget-password'">
            Enter your Email and instructions will be sent to you!
        </div>
        
        <ng-container>
            <div class="email">
                <div class="title">Email</div>
                <div class="body">
                    <div class="icon"><i class="fa-regular fa-envelope"></i></div>
                    <input type="text" [(ngModel)]="email" (input)="onEmailChange()" placeholder="Enter Email" />
                </div>
                <div class="warning" *ngIf="emailError">{{ emailError }}</div>
            </div>
        </ng-container>

        <ng-container *ngIf="currentRoute !== 'forget-password' && currentRoute !== 'login'">
            <div class="username">
                <div class="firstname">
                    <div class="title">Firstname</div>
                    <div class="body">
                        <input type="text" [(ngModel)]="firstname" (input)="onFirstnameChange()" placeholder="Enter Firstname" />
                    </div>
                    <div class="warning" *ngIf="firstnameError">{{ firstnameError }}</div>
                </div>
                <div class="lastname">
                    <div class="title">Lastname</div>
                    <div class="body">
                        <input type="text" [(ngModel)]="lastname" (input)="onLastnameChange()" placeholder="Enter Lastname" />
                    </div>
                    <div class="warning" *ngIf="lastnameError">{{ lastnameError }}</div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="currentRoute !== 'forget-password'">
            <div class="password">
                <div class="title">
                    <div>Password</div>
                    <div *ngIf="currentRoute === 'login'" class="forget" (click)="navigate('forget-password', $event)">Forget password?</div>
                </div>
                <div class="body">
                    <div class="icon"><i class="fa-solid fa-lock"></i></div>
                    <input type="password" [(ngModel)]="password" (input)="onPasswordChange()" placeholder="Enter Password" />
                </div>
                <div class="warning" *ngIf="passwordError">{{ passwordError }}</div>
                <div class="warning" *ngIf="resendEmail">Or <a href='#' (click)="!isLoading ? resendVerificationEmail($event) : null">click here</a> to resend verification email!</div>
            </div>
        </ng-container>

        <ng-container *ngIf="currentRoute === 'login'">
            <div class="remember">
                <label class="custom-checkbox">
                    <input type="checkbox" [(ngModel)]="rememberMe"/>
                    <span class="checkmark"></span>
                </label>
                <div class="title">Remember me</div>
            </div>
        </ng-container>

        <button class="login" (click)="!isLoading ? onSubmit() : null">
            <div class="loading-container" *ngIf="isLoading">
                <svg class="loading-circle" viewBox="0 0 100 100">
                    <defs>
                        <linearGradient id="gradient" x1="100%" y1="50%" x2="0%" y2="50%">
                            <stop offset="100%" stop-color="white" />
                        </linearGradient>
                    </defs>
                    <circle class="background" cx="50" cy="50" r="40"></circle>
                    <circle class="progress" cx="50" cy="50" r="40" stroke="url(#gradient)"></circle>
                </svg>
            </div>
            <span [style.visibility]="isLoading ? 'hidden' : 'visible'">
                {{ currentRoute === 'login' ? 'Log in' : currentRoute === 'signup' ? 'Register' : 'Reset' }}
            </span>
        </button>
    </div>

    <div class="signup">
        <ng-container [ngSwitch]="currentRoute">
            <ng-container *ngSwitchCase="'login'">
                Don't have an account? <a href="#" (click)="navigate('signup', $event)">Sign up now</a>
            </ng-container>
            <ng-container *ngSwitchCase="'signup'">
                Already have an account? <a href="#" (click)="navigate('login', $event)">Login</a>
            </ng-container>
            <ng-container *ngSwitchDefault>
                Remember it? <a href="#" (click)="navigate('login', $event)">Login</a>
            </ng-container>
        </ng-container>
    </div>

    <div class="copyright">
        <i class="fa-regular fa-copyright"></i>2025 YAP. Created by Nhien
    </div>
</div>