:host ::ng-deep {
    background-color: var(--auth-bg);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        color: #0573ff;
        font-weight: 700;
        font-size: 26px;
        width: fit-content;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        cursor: pointer;
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        color: var(--auth-text);
        margin-bottom: 10px;
    }

    .desc {
        font-size: 16px;
        color: var(--auth-subtext);
        font-weight: 500;
        margin-bottom: 25px;
    }

    .login-form {
        background: var(--auth-form);
        border-radius: 10px;
        padding: 24px;
        width: 100%;
        max-width: 462px;
        margin-bottom: 48px;

        .instruction {
            background: #cdf7ec;
            padding: 12px 20px;
            margin-bottom: 24px;
            border-radius: 4px;
            text-align: center;
        }
    }

    .warning {
        color: #ef63b2;
        margin-top: 5px;
        font-size: 14px;

        a {
            color: #0573ff;
        }
    }

    .username {
        display: flex;
        gap: 15px;
    }

    .firstname,
    .lastname {
        input {
            height: 48px;
            border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
            border-radius: 6px !important;
            padding: 0 20px 0 15px !important;
        }
    }

    .firstname,
    .lastname,
    .password,
    .email {
        margin-bottom: 16px;

        .title {
            font-size: 15px;
            margin-bottom: 8px;
        }

        .body {
            display: flex;

            input {
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
                background-color: var(--auth-input);
                border-left: none;
                outline: none;
                border-radius: 0 6px 6px 0;
                font-size: 14px;
                padding: 0 20px;
                color: var(--text-color);
                width: 100%;
            }

            .icon {
                display: flex;
                align-items: center;
                padding: 18px;
                background: var(--auth-icon);
                color: var(--text-color);
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
                border-radius: 6px 0 0 6px;

                i {
                    font-size: 10px;
                    background: var(--auth-icon);
                }
            }
        }
    }

    .password {
        margin-bottom: 24px;

        .title {
            display: flex;
            justify-content: space-between;

            .forget {
                color: gray;
                font-size: 14px;
                font-weight: 400;
                cursor: pointer;
            }
        }
    }

    .remember {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 13px;
        margin-bottom: 24px;

        .title {
            font-weight: 500;
            font-size: 15px;
            margin: 0;
        }

        .custom-checkbox {
            position: relative;
            width: 15px;
            height: 15px;
            cursor: pointer;

            input {
                opacity: 0;
                width: 0;
                height: 0;
                margin: 0;
            }

            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                width: 15px;
                height: 15px;
                background-color: #f0f0f0;
                border-radius: 4px;

                &::after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 5px;
                    top: 2px;
                    width: 3px;
                    height: 7px;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }

            input:checked+.checkmark {
                background-color: #7367f0;

                &::after {
                    display: block;
                }
            }
        }
    }

    .login {
        width: 100%;
        border-radius: 4px;
        cursor: pointer;
        padding: 12px 16px;
        position: relative;
        background: #7269ef;
        color: white;
        border: none;
        font-size: 16px;

        &:hover {
            background: #6159cb;
        }

        .loading-container {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &.absolute {
                margin: 0;
                position: absolute;
                background: white;
                opacity: 0.5;
                border-radius: 10px;
                left: 10px;
            }

            &.img-loading {
                width: 86.5px;
                height: 86.5px;
                left: 0;
            }

            .loading-circle {
                width: 25px;
                height: 25px;
                animation: spin 1s linear infinite;
            }

            .background {
                fill: none;
                stroke: #eaecf3;
                stroke-width: 8;
                opacity: 0.2;
            }

            .progress {
                fill: none;
                stroke-width: 8;
                stroke-linecap: round;
                stroke-dasharray: 50 350;
                stroke: url(#gradient);
                transform: rotate(-90deg);
                transform-origin: center;
            }

            svg {
                display: block;
            }

            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }
        }
    }

    .signup,
    .copyright {
        font-size: 15px;
        margin-bottom: 16px;
        font-weight: 400;
        display: flex;
        gap: 5px;
        align-items: center;
        color: var(--text-color);

        i {
            font-size: 12px;
        }
    }
}