<div class="title-container">
    <div class="title">Contacts</div>
    <i class="fa-solid fa-user-plus" (click)="isModalOpen = true"></i>
</div>
<div class="search">
    <input type="text" placeholder="Search..." />
    <i class="fa-solid fa-magnifying-glass"></i>
</div>
<div *ngFor="let group of groupedContacts" class="contact-list">
    <h4>{{ group.letter }}</h4>
    <div *ngFor="let contact of group.contacts" class="contact">
        {{ contact.firstName }} {{ contact.lastName }}
    </div>
</div>
<app-modal [show]="isModalOpen" (close)="isModalOpen = false" [title]="'Add Contacts'" (userAction)="contactMenuAction($event)" [modalId]="addContactModalId"></app-modal>