.search {
    position: relative;
    margin-bottom: 16px;

    input {
        width: 100%;
        padding: 14px 10px 14px 40px;
        border-radius: 3px;
        background-color: var(--chatbox-navbar);
        border: none;
        font-size: 0.875rem;
        outline: none;
        color: var(--chatbox-icon);

        &::-webkit-input-placeholder {
            color: var(--chatbox-icon);
        }
    }

    .fa-magnifying-glass {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 13px;
        color: var(--chatbox-icon);
    }
}

.contact-list {
    margin-bottom: 10px;

    h4 {
        color: #0573ff;
    }

    .contact {
        font-size: 15px;
        color: var(--text-color);
    }
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    i {
        color: var(--chatbox-icon);
        cursor: pointer;
    }

    .title {
        margin: 0;
        color: var(--text-color);
        font-size: 22px;
        font-weight: 500;
    }
}