.online {
    background-color: #06d6a0;
}

.offline {
    background-color: gray;
}

.disturb {
    background-color: #ef476f;
}

.away {
    background-color: #ffd166;
}

.title {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 24px;
}

.nocontact {
    color: var(--chatbox-icon);
    margin: 6px 0 16px 0;

    a {
        color: #0573ff;
    }
}

.swiper-container {
    overflow: hidden;
    height: 67px;
    margin-bottom: 24px;

    .swiper-wrapper {
        .swiper-slide {
            width: 72.25px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            flex-direction: column;
            color: var(--text-color);
            margin-right: 15px;

            .status {
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                right: 19px;
                top: 25px;
                border: 2px solid var(--chatbox-table-border);
            }

            .avatar {
                position: absolute;
                top: 0;
            }

            .swiper-body {
                width: 100%;
                background-color: var(--chatbox-table-border);
                text-align: center;
                padding: 25px 10px 10px 10px;
                border-radius: 8px;
                font-size: 13px;
                font-weight: 600;
            }

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }
        }
    }
}

.chat-list {
    max-height: 641px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .chat-item {
        display: flex;
        position: relative;
        align-items: center;
        padding: 12px;
        overflow: hidden;
        border-radius: 3px;
        cursor: pointer;

        &.active {
            background-color: var(--chatbox-chat);
        }

        &:hover {
            background-color: var(--chatbox-chat);
        }

        .avatar {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .status {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            left: 36px;
            bottom: 12px;
            border: 2px solid var(--chatbox-table-border);
        }

        .chat-info {
            flex: 1;
            min-width: 0;

            .name,
            .lastMessage {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .name {
                color: var(--text-color);
                font-size: 16px;
                margin-bottom: 5px;
                font-weight: 600;
                text-align: start;
            }

            .lastMessage {
                color: var(--chatbox-icon);
                font-size: 14px;
            }
        }

        .time {
            align-self: flex-start;
            margin-left: 10px;
            color: var(--chatbox-icon);
            font-size: 12px;
        }
    }
}

.search {
    position: relative;
    margin-bottom: 16px;

    input {
        width: 100%;
        padding: 14px 10px 14px 40px;
        border-radius: 3px;
        background-color: var(--chatbox-navbar);
        border: none;
        font-size: 0.875rem;
        outline: none;
        color: var(--chatbox-icon);

        &::-webkit-input-placeholder {
            color: var(--chatbox-icon);
        }
    }
}

.fa-magnifying-glass {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    color: var(--chatbox-icon);
}

.subtitle {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.name {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}