.search {
    position: relative;
    margin-bottom: 36px;

    input {
        width: 100%;
        padding: 14px 10px 14px 40px;
        border-radius: 3px;
        background-color: var(--chatbox-navbar);
        border: none;
        font-size: 0.875rem;
        outline: none;
        color: var(--chatbox-icon);

        &::-webkit-input-placeholder {
            color: var(--chatbox-icon);
        }
    }

    .fa-magnifying-glass {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 13px;
        color: var(--chatbox-icon);
    }
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    i {
        color: var(--chatbox-icon);
        cursor: pointer;
    }

    .title {
        margin: 0;
        color: var(--text-color);
        font-size: 22px;
        font-weight: 500;
    }
}

.group {
    display: flex;
    height: 66px;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
        background: var(--chatbox-navbar);
    }

    img {
        height: 100%;
        border-radius: 50%;
        padding: 12px;
    }

    div {
        color: var(--text-color);
    }
}

@media (max-width: 1000px) {
    .title-container {
        padding-right: 30px !important;
    }
}