<div class="title-container">
    <div class="title">Groups</div>
    <i class="fa-solid fa-user-plus" (click)="isModalOpen = true"></i>
</div>
<div class="search">
    <input type="text" placeholder="Search..." />
    <i class="fa-solid fa-magnifying-glass"></i>
</div>
<div *ngFor="let group of groups" class="group">
    <img [src]="group.avatarUrl" alt="">
    <div>{{group.groupName}}</div>
</div>
<app-modal [contacts]="groupedContacts" [show]="isModalOpen" (close)="isModalOpen = false" [title]="'Create Group'" (userAction)="groupMenuAction($event)" [modalId]="createGroupModalId"></app-modal>