<div class="header" *ngIf="activeConversation">
    <div class="userInfo">
        <img [src]="activeConversation.avatar" class="avatar" />
        <div class="name">
            {{ activeConversation.firstName + " " + activeConversation.lastName }}
        </div>
        <div class="status" [ngClass]="{
                online: activeConversation?.status === EnumStatusOnline.Online,
                away: activeConversation?.status === EnumStatusOnline.Away,
                disturb: activeConversation?.status === EnumStatusOnline.DoNotDisturb,
                offline: !activeConversation?.status || activeConversation.status === EnumStatusOnline.Offline}">
        </div>
    </div>
    <div class="options">
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-phone"></i>
        <i class="fa-solid fa-video"></i>
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-ellipsis"></i>
    </div>
</div>
<div class="message-box" *ngIf="activeConversation" #messageBox>
    <div class="message-wrapper" *ngFor="let message of activeConversation.messages"
        [ngClass]="{'my-message': message.sender === userInfo.Id, 'other-message': message.sender !== userInfo.Id}">
        <div *ngIf="message.repliedMessage as repliedMessage" class="reply-box">
            <div class="reply-sender">
                Replying to:
                <strong>{{ repliedMessage.sender === userInfo.Id ? 'You' : '.' }}</strong>
            </div>
            <div class="reply-preview">
                {{ repliedMessage.decryptedMessage || '[File]' }}
            </div>
        </div>
        <div *ngIf="message.decryptedMessage || message.decryptedFiles" class="message">

            <!-- Ellipsis icon -->
            <i class="fa-solid fa-ellipsis-vertical" (click)="toggleMenu(message.id)" [attr.data-icon-id]="message.id"
                *ngIf="message.sender === userInfo.Id">
            </i>

            <img class="avatar" [src]="message.sender === userInfo.Id ? userInfo.Avatar : activeConversation.avatar">

            <div class="bubble">
                <div *ngFor="let file of message.decryptedFiles" class="file-box">
                    <img *ngIf="file.type.startsWith('image/')" [src]="getBlobUrl(file.file)" />
                    <div *ngIf="!file.type.startsWith('image/')" class="preview-file">
                        <i class="fa-solid fa-file"></i>
                        <div>{{ file.name }}</div>
                    </div>
                </div>
                <div class="text-content">{{ message.decryptedMessage }}</div>
                <div class="message-time">
                    <i class="fa-regular fa-clock"></i> {{ formatUnixTime(message.timeSent) }}
                </div>
            </div>

            <!-- Message menu -->
            <div *ngIf="openedMenuMessageId === message.id" class="message-menu" [attr.data-menu-id]="message.id">
                <div (click)="replyMessage(message)" class="item">
                    <div class="text">Reply</div>
                    <i class="fa-solid fa-reply"></i>
                </div>
                <div class="item">
                    <div class="text">Delete</div>
                    <i class="fa-solid fa-trash"></i>
                </div>
            </div>

            <i class="fa-solid fa-ellipsis-vertical" (click)="toggleMenu(message.id)" [attr.data-icon-id]="message.id"
                *ngIf="message.sender !== userInfo.Id">
            </i>
        </div>
    </div>
</div>
<div class="message-input" *ngIf="activeConversation" [class.fileExist]="selectedFiles.length > 0 || repliedMessage">
    <div class="reply" *ngIf="repliedMessage">
        <div class="left">
            <div class="to">Replying to: {{ repliedMessage.sender === userInfo.Id ? 'yourself' :
                activeConversation.firstName + ' ' + activeConversation.lastName }}</div>
            <ng-container *ngIf="repliedMessage.decryptedFiles?.length > 0; else showMessage">
                📎 Attachment
            </ng-container>
            <ng-template #showMessage>
                {{ repliedMessage.decryptedMessage }}
            </ng-template>
        </div>
        <div class="right" (click)="repliedMessage = null"><i class="fa-solid fa-circle-xmark"></i></div>
    </div>
    <div class="selected-files" *ngIf="selectedFiles.length > 0">
        <div class="file-preview" *ngFor="let file of selectedFiles; let i = index">
            <img *ngIf="file.type.startsWith('image/')" [src]="file.preview" class="preview-img" />
            <div *ngIf="!file.type.startsWith('image/')" class="preview-file">
                <i class="fa-solid fa-file"></i>
                <div>{{ file.name }}</div>
            </div>
            <i class="fa-solid fa-xmark" (click)="removeFile(i)"></i>
        </div>
    </div>
    <div class="input">
        <input type="text" placeholder="Enter Message..." (keydown.enter)="send()" [(ngModel)]="message" />
        <div class="icon files" (click)="fileInput.click()">
            <i class="fa-solid fa-paperclip"></i>
            <div class="tooltip">Attached File</div>
        </div>
        <div class="icon images" (click)="imageInput.click()">
            <i class="fa-solid fa-image"></i>
            <div class="tooltip">Images</div>
        </div>
        <div class="icon submit" (click)="send()">
            <i class="fa-solid fa-paper-plane"></i>
            <div class="tooltip">Send</div>
        </div>
    </div>
</div>

<input type="file" #fileInput multiple (change)="onFilesSelected($event)" style="display: none" />
<input type="file" #imageInput multiple accept="image/*" (change)="onFilesSelected($event)" style="display: none" />