:host ::ng-deep {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.tooltip {
    visibility: hidden;
    width: auto;
    background-color: var(--tooltip-bg);
    color: var(--tooltip);
    text-align: center;
    border-radius: 4px;
    padding: 6px 10px;
    position: absolute;
    top: -30px;
    z-index: 1;
    white-space: nowrap;
    font-size: 14px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s;

    &.right {
        left: 60px;
        top: 13px;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px;
        border-style: solid;
        border-color: var(--tooltip-bg) transparent transparent transparent;
    }

    &.right::after {
        left: -6px;
        border-color: transparent var(--tooltip-bg) transparent transparent;
        bottom: 8px;
    }
}

.online {
    background-color: #06d6a0;
}

.offline {
    background-color: gray;
}

.disturb {
    background-color: #ef476f;
}

.away {
    background-color: #ffd166;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
    padding: 10px 25px;
    border-bottom: 1px solid var(--chatbox-active);

    .userInfo {
        display: flex;
        align-items: center;
        position: relative;

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .name {
            color: var(--text-color);
            font-weight: 600;
            font-size: 17px;
            max-width: 180px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .status {
            position: absolute;
            right: -20px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 2px solid var(--chatbox-table-border);
        }
    }

    .options {
        display: flex;
        gap: 10px;

        i {
            color: var(--chatbox-icon);
            padding: 10px;
            cursor: pointer;
        }
    }
}

.message-box {
    width: 100%;
    flex: 1;
    padding: 1rem 1rem 0 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 10px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--chatbox);
        border-radius: 10px;
        cursor: pointer;
        border: 3px solid transparent;
        background-clip: padding-box;
    }

    .message-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        max-width: 50%;

        &.my-message {
            align-self: flex-end;
            text-align: right;
            float: right;

            .message {
                float: right;
            }

            .reply-sender {
                align-self: flex-end;
            }

            .reply-preview {
                align-self: flex-end;
            }

            .bubble {
                background-color: var(--chatbox-bubble);
                color: var(--text-color);
                margin-left: 8px;
                border-bottom-right-radius: 0;
                align-self: flex-end;

                .file-box {
                    margin-bottom: 5px;

                    .preview-file {
                        width: 100px;
                        height: 100px;
                        padding: 10px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        border: 1px solid var(--chatbox-active);
                        border-radius: 10px;
                        cursor: pointer;

                        i {
                            text-align: center;
                            color: #4a90e2;
                            font-size: 45px;
                        }

                        div {
                            color: var(--text-color);
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }
            }

            .message-time {
                color: var(--chatbox-time) !important;
            }

            .avatar,
            .sender-name {
                display: none;
            }

            .message-menu {
                left: -170px !important;
            }
        }

        &.other-message {
            flex-direction: row;
            align-self: flex-start;
            text-align: left;
            gap: 10px;

            .message-container {
                .reply-box {
                    margin-left: 40px;
                }
            }

            .bubble {
                background-color: #4a90e2;
                margin: 0 8px 0 10px;
                color: white;
                border-bottom-left-radius: 0;
                align-self: flex-start;
            }

            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-top: 0.3rem;
                align-self: flex-end;
            }

            .sender-name {
                font-size: 0.75rem;
                color: #9ea7af;
                margin-top: 0.25rem;
                align-self: flex-end;
            }
        }

        .message-container {
            img {
                max-width: 100%;
                max-height: 300px;
                margin-bottom: 5px;
            }

            .reply-box {
                display: flex;
                flex-direction: column;
                gap: 5px;
                position: relative;
                top: 20px;

                .reply-sender {
                    display: flex;
                    white-space: nowrap;
                    gap: 10px;
                    align-items: center;
                    color: var(--chatbox-icon);
                }

                .reply-preview {
                    background: var(--chatbox-active2);
                    color: var(--chatbox-icon);
                    padding: 10px 10px 25px 10px;
                    cursor: pointer;
                    width: fit-content;
                    border-radius: 12px;
                }
            }

            .message {
                display: flex;
                align-items: end;
                position: relative;

                .bubble {
                    padding: 0.75rem 1rem;
                    border-radius: 12px;
                    position: relative;
                    display: inline-block;
                    border: 1px solid var(--chatbox-bubble);
                    transition: border 0.3s ease;

                    &.highlight {
                        border: 1px solid #4a90e2;
                        box-sizing: border-box;
                    }

                    .text-content {
                        font-size: 0.95rem;
                    }

                    .message-time {
                        font-size: 0.7rem;
                        color: #cbd5e1;
                        margin-top: 0.4rem;
                        display: flex;
                        align-items: center;
                        gap: 0.3rem;

                        i {
                            font-size: 0.65rem;
                        }
                    }
                }

                .fa-ellipsis-vertical {
                    margin-bottom: 3px;
                    align-self: flex-end;
                    color: var(--chatbox-time);
                    font-size: 13px;
                    cursor: pointer;
                    position: relative;
                }

                .message-menu {
                    width: 160px;
                    z-index: 10;
                    background: var(--popup-bg);
                    position: absolute;
                    border-radius: 8px;
                    overflow: hidden;
                    bottom: -60px;
                    right: -70px;

                    &.end {
                        bottom: 0;
                    }

                    .item {
                        display: flex;
                        color: var(--popup-color);
                        align-items: center;
                        width: 100%;
                        justify-content: space-between;
                        padding: 10px 15px;
                        cursor: pointer;
                        font-size: 16px;

                        &:hover {
                            background: var(--chatbox-active);
                        }

                        i {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.message-input {
    display: flex;
    height: 94px;
    width: 100%;
    border-top: 1px solid var(--chatbox-active);
    padding: 23px 22px 21px 22px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: fit-content;

    &.fileExist {
        padding: 18px 22px 16px 22px;
    }

    .reply {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;
        color: var(--text-color);

        .left {
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: var(--text-color);

            .to {
                font-weight: 700;
            }
        }

        .right {
            color: var(--chatbox-time);
            cursor: pointer;
        }
    }

    .selected-files {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0 0 10px 0;

        .file-preview {
            display: flex;
            width: 100px;
            height: 100px;
            border: 1px solid var(--border-color);
            border-radius: 10px;
            padding: 10px;
            position: relative;

            .preview-file {
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                i {
                    text-align: center;
                    color: #4a90e2;
                    font-size: 45px;
                }

                div {
                    color: var(--text-color);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            .preview-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }

            .fa-xmark {
                position: absolute;
                font-size: 12px;
                top: -10px;
                cursor: pointer;
                right: -10px;
                background: var(--chatbox);
                border: 1px solid var(--chatbox);
                color: var(--text-color);
                padding: 3px 5px;
                border-radius: 50%;
            }
        }
    }

    .input {
        display: flex;
        width: 100%;

        input {
            padding: 8px 16px;
            color: var(--chatbox-icon);
            flex: 1;
            background-color: var(--chatbox-table-border);
            outline: none;
            border: none;
            border-radius: 5px;
            margin-right: 10px;
        }

        .icon {
            display: flex;
            align-items: center;
            position: relative;
            padding: 8px 16px;
            cursor: pointer;

            &.submit {
                background-color: var(--chatbox-icon2);
                padding: 12px 13px 12px 12px;
                height: fit-content;
                align-self: center;
                margin-left: 10px;
                border-radius: 5px;

                i {
                    color: white;
                    background-color: var(--chatbox-icon2);
                }

                .tooltip {
                    right: -6px;
                    top: -40px;
                }
            }

            &.images {
                .tooltip {
                    right: -8px;
                }
            }

            i {
                color: var(--chatbox-icon2);
            }

            .tooltip {
                right: -28px;
            }

            &:hover .tooltip {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1000px) {
    .header {
        padding: 10px 25px 10px 50px;
    }
}