<div class="left-side">
    <div class="nav-bar">
        <div class="logo" (click)="navigate('', $event)">YAP</div>
        <div class="items">
            <div class="navigation">
                <div class="icon" (click)="onTabClick('profile')" [ngClass]="{ 'active-tab': activeTab === 'profile' }">
                    <i class="fa-solid fa-user"></i>
                    <div class="tooltip">Profile</div>
                </div>
                <div class="icon" (click)="onTabClick('chat')" [ngClass]="{ 'active-tab': activeTab === 'chat' }">
                    <i class="fa-solid fa-comments"></i>
                    <div class="tooltip">Chat</div>
                </div>
                <div class="icon" (click)="onTabClick('groups')" [ngClass]="{ 'active-tab': activeTab === 'groups' }">
                    <i class="fa-solid fa-user-group"></i>
                    <div class="tooltip">Groups</div>
                </div>
                <div class="icon" (click)="onTabClick('friends')" [ngClass]="{ 'active-tab': activeTab === 'friends' }">
                    <i class="fa-solid fa-address-book"></i>
                    <div class="tooltip">Friends</div>
                </div>
                <div class="icon" (click)="onTabClick('settings')"
                    [ngClass]="{ 'active-tab': activeTab === 'settings' }">
                    <i class="fa-solid fa-gear"></i>
                    <div class="tooltip">Settings</div>
                </div>
            </div>
            <div class="settings">
                <div class="icon" (click)="toggleTheme()" [ngClass]="theme === 'light' ? 'light-theme' : ''">
                    <i class="fa-regular fa-moon" *ngIf="theme === 'dark'"></i>
                    <i class="fa-regular fa-sun" *ngIf="theme === 'light'"></i>
                    <div class="tooltip right">Dark/Light mode</div>
                </div>
                <div class="icon profile" (click)="activeProfile = !activeProfile"
                    [ngClass]="{ 'active-tab': activeProfile }" #profile>
                    @if (userInfo) {
                    <img [src]="userInfo.Avatar" alt="" />
                    }
                </div>
                <div class="popup" *ngIf="activeProfile">
                    <div class="item" (click)="onTabClick('profile')">
                        <div>Profile</div>
                        <i class="fa-solid fa-address-card"></i>
                    </div>
                    <div class="item" (click)="onTabClick('settings')">
                        <div>Setting</div>
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <div class="item" (click)="logout()">
                        <div>Log out</div>
                        <i class="fa-solid fa-power-off"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-box">
        <div *ngIf="activeTab === 'profile'" class="box">
            <div class="title">My Profile</div>
            <div class="image">
                <img [src]="userInfo.Avatar" alt="" />
            </div>
            <div class="name">{{ userInfo.FirstName }} {{ userInfo.LastName }}</div>
            <div class="status">
                <div class="status-icon"></div>
                <div class="status-text">Active</div>
            </div>
            <div class="info">
                <div class="head">
                    <i class="fa-solid fa-user"></i>
                    <div>About</div>
                </div>
                <div class="body">
                    <div class="item">
                        <div class="field">Firstname</div>
                        <div>{{ userInfo.FirstName }}</div>
                    </div>
                    <div class="item">
                        <div class="field">Lastname</div>
                        <div>{{ userInfo.LastName }}</div>
                    </div>
                    <div class="item">
                        <div class="field">Email</div>
                        <div>{{ userInfo.Email }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="activeTab === 'chat'" class="box">
            <div class="title">Chats</div>
            <div class="search">
                <input type="text" placeholder="Search users" />
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            @if (friends.length > 0) {
            <div class="swiper-container" #swiperContainer>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let friend of friends" (click)="goToConversation(friend)">
                        <img [src]="friend.avatar" alt="Slide image" class="avatar" />
                        <div class="swiper-body">
                            {{ friend.firstName }}
                        </div>
                        <div class="status"
                            [ngClass]="{
                            online: activeConversation?.status === EnumStatusOnline.Online,
                            away: activeConversation?.status === EnumStatusOnline.Away,
                            disturb: activeConversation?.status === EnumStatusOnline.DoNotDisturb,
                            offline: !activeConversation?.status || activeConversation.status === EnumStatusOnline.Offline}">
                        </div>
                    </div>
                </div>
            </div>
            } @else {
            <div class="nofriend">You currently have no friends. Add them <a href="#"
                    (click)="navigate('chat?tab=friends', $event)">here</a></div>
            }
            <div class="subtitle">Recent</div>
            @if (conversations.length > 0) {
            <div class="chat-list">
                <div class="chat-item" *ngFor="let conversation of conversations"
                    [ngClass]="{active: activeConversation?.conversationId === conversation.conversationId}"
                    (click)="changeConversation(conversation)">
                    <img [src]="conversation.avatar" class="avatar" />
                    <div class="chat-info">
                        <div class="name">
                            {{ conversation.firstName + " " + conversation.lastName }}
                        </div>
                        @if (conversation.messages[conversation.messages.length - 1]?.sender === userInfo.Id) {
                            <div class="lastMessage">You: {{ conversation.messages[conversation.messages.length - 1].message }}</div>
                        } @else {
                            <div class="lastMessage">{{ conversation.messages[conversation.messages.length - 1]?.message }}</div>
                        }
                    </div>
                    <div class="time">
                        {{ conversation.messages[conversation.messages.length - 1]?.timeSent * 1000 | customDate }}
                    </div>
                    <div class="status"
                        [ngClass]="{
                        online: activeConversation?.status === EnumStatusOnline.Online,
                        away: activeConversation?.status === EnumStatusOnline.Away,
                        disturb: activeConversation?.status === EnumStatusOnline.DoNotDisturb,
                        offline: !activeConversation?.status || activeConversation.status === EnumStatusOnline.Offline}">
                    </div>
                </div>
            </div>
            } @else {
            <div class="nofriend">
                You currently have no chats!
            </div>
            }
        </div>
        <div *ngIf="activeTab === 'groups'" class="box"></div>
        <div *ngIf="activeTab === 'friends'" class="box">
            <div class="title-container">
                <div class="title">My Friends</div>
                <i class="fa-solid fa-user-plus" (click)="isModalOpen = true"></i>
            </div>
            <div class="search">
                <input type="text" placeholder="Search users" />
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div *ngFor="let group of groupedFriends" class="friend-list">
                <h4>{{ group.letter }}</h4>
                <div *ngFor="let friend of group.friends" class="friend">
                    {{ friend.firstName }} {{ friend.lastName }}
                </div>
            </div>
        </div>
        <div *ngIf="activeTab === 'settings'" class="box"></div>
    </div>
</div>
<div class="right-side">
    <div class="header" *ngIf="activeConversation">
        <div class="userInfo">
            <img [src]="activeConversation.avatar" class="avatar" />
            <div class="name">
                {{ activeConversation.firstName + " " + activeConversation.lastName }}
            </div>
            <div class="status" [ngClass]="{
                online: activeConversation.status === EnumStatusOnline.Online,
                away: activeConversation.status === EnumStatusOnline.Away,
                offline: activeConversation.status === EnumStatusOnline.Offline,
                disturb: activeConversation.status === EnumStatusOnline.DoNotDisturb}">
            </div>
        </div>
        <div class="options">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-phone"></i>
            <i class="fa-solid fa-video"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-ellipsis"></i>
        </div>
    </div>
    <div class="message-box" *ngIf="activeConversation">
        <div class="message-wrapper" *ngFor="let message of activeConversation.messages"
            [ngClass]="{'my-message': message.sender === userInfo.Id, 'other-message': message.sender !== userInfo.Id}">

            <img class="avatar" [src]="message.senderId === userInfo.id ? userInfo.Avatar : activeConversation.avatar">

            <div class="bubble">
                <div class="text-content">{{ message.message }}</div>
                <div class="message-time">
                    <i class="fa-regular fa-clock"></i> {{ formatUnixTime(message.timeSent) }}
                </div>
            </div>

            <div class="sender-name" *ngIf="message.senderId !== userInfo.id">
                {{ activeFriend?.firstName }} {{ activeFriend?.lastName }}
            </div>

        </div>
    </div>
    <div class="message-input" *ngIf="activeConversation">
        <input type="text" placeholder="Enter Message..." (keydown.enter)="sendMessage()" [(ngModel)]="message" />
        <div class="icon files">
            <i class="fa-solid fa-paperclip"></i>
            <div class="tooltip">Attached File</div>
        </div>
        <div class="icon images">
            <i class="fa-solid fa-image"></i>
            <div class="tooltip">Images</div>
        </div>
        <div class="icon submit" (click)="sendMessage()">
            <i class="fa-solid fa-paper-plane"></i>
            <div class="tooltip">Send</div>
        </div>
    </div>
</div>
<app-modal [show]="isModalOpen" (close)="isModalOpen = false" (newFriend)="updateFriendList($event)" [index]=1></app-modal>