<app-header></app-header>
<router-outlet></router-outlet>
<section class="main">
    <div class="main-body">
        <div class="left">
            <h1>Speak Freely</h1>
            <div class="left-1">Say "hello" to a different messaging experience. An unexpected focus on privacy, combined with all of the features you expect.</div>
            <button class="download">Get YAP</button>
        </div>
        <div class="right">
            <img src="assets/landing-page/signal-iphone.png" alt="" class="img-1">
            <img src="assets/landing-page/signal-pixel.png" alt="" class="img-2">
        </div>
    </div>
</section>
<section class="content">
    <div class="title">
        <h1>Why use YAP?</h1>
        <h3>Explore below to see why YAP is a simple, powerful, and secure messenger</h3>
    </div>
    <div class="content-1">
        <div class="left">
            <h1>Share Without Insecurity</h1>
            <div> State-of-the-art end-to-end encryption keeps your conversations secure. We can't read your messages or listen to your calls, and no one else can either. Privacy isn’t an optional mode — it’s just the way that YAP works. Every message, every call, every time.</div>
        </div>
        <div class="right">
            <img src="assets/landing-page/content-1.png" alt="">
        </div>
    </div>
</section>
<section class="content-dark">
    <div class="content">
        <div class="item">
            <img class="item-img" src="assets/landing-page/Media-1.png" alt="Image">
            <p class="item-title">Say Anything</p>
            <p class="item-text">
                Share text, voice messages, photos, videos, GIFs, and files for free. YAP uses your phone's data connection so you can avoid SMS and MMS fees.
            </p>
        </div>
        <div class="item">
            <img class="item-img" src="assets/landing-page/Media-2.png" alt="Image">
            <p class="item-title">Speak Freely</p>
            <p class="item-text">
                Make crystal-clear voice and video calls to people who live across town, or across the ocean, with no long-distance charges.
            </p>
        </div>
        <div class="item">
            <img class="item-img" src="assets/landing-page/Media-3.png" alt="Image">
            <p class="item-title">Make Privacy Stick</p>
            <p class="item-text">
                Add a new layer of expression to your conversations with encrypted stickers. You can also create and share your own sticker packs.
            </p>
        </div>
        <div class="item">
            <img class="item-img" src="assets/landing-page/Media-4.png" alt="Image">
            <p class="item-title">Get Together with Groups</p>
            <p class="item-text">
                Group chats make it easy to stay connected to your family, friends, and coworkers.
            </p>
        </div>
    </div>
</section>
<section class="content-left">
    <div class="content">
        <div class="left">
            <p class="item-title">No ads. No trackers. No kidding.</p>
            <p class="item-text">There are no ads, no affiliate marketers, and no creepy tracking in Signal. So focus on sharing the moments that matter with the people who matter to you.</p>
        </div>
        <div class="right">
            <img src="assets/landing-page/Media-5.png" alt="">
        </div>
    </div>
</section>
<section class="content-right">
    <div class="content">
        <div class="left">
            <img src="assets/landing-page/Media-6.png" alt="">
        </div>
        <div class="right">
            <p class="item-title">Free for Everyone</p>
            <p class="item-text">YAP is an independent nonprofit. We're not tied to any major tech companies, and we can never be acquired by one either.</p>
        </div>
    </div>
</section>
<app-footer></app-footer>