.tooltip {
    visibility: hidden;
    width: auto;
    background-color: var(--tooltip-bg);
    color: var(--tooltip);
    text-align: center;
    border-radius: 4px;
    padding: 6px 10px;
    position: absolute;
    top: -30px;
    z-index: 1;
    white-space: nowrap;
    font-size: 14px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s;

    &.right {
        left: 60px;
        top: 13px;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px;
        border-style: solid;
        border-color: var(--tooltip-bg) transparent transparent transparent;
    }

    &.right::after {
        left: -6px;
        border-color: transparent var(--tooltip-bg) transparent transparent;
        bottom: 8px;
    }
}

.nav-bar {
    width: 75px;
    height: 100dvh;
    margin-right: 2px;
    background-color: var(--chatbox-navbar);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 10px 10px;

    .logo {
        color: #0573ff;
        font-weight: 700;
        font-size: 26px;
        width: fit-content;
        display: flex;
        cursor: pointer;
    }

    .items {
        height: 100%;

        .navigation,
        .settings {
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            .icon {
                position: relative;
                display: flex;
                justify-content: center;
                cursor: pointer;
                padding: 18px 16px;
                color: var(--chatbox-icon);
                font-size: 20px;
                border-radius: 8px;

                &.profile {
                    padding: 14px 12px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }

                &.active-tab {
                    color: #0573ff;
                    background-color: var(--chatbox-active);
                }

                &:hover .tooltip {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        .settings {
            height: 20%;
            justify-content: end;
            position: relative;

            .popup {
                position: absolute;
                gap: 10px;
                top: -22px;
                padding: 10px 0;
                background-color: var(--chatbox-navbar);
                border-radius: 8px;
                border: 1px solid var(--chatbox-active);
                display: flex;
                flex-direction: column;

                .item {
                    display: flex;
                    cursor: pointer;
                    align-items: center;
                    padding: 5px 20px;
                    color: var(--chatbox-icon);
                    width: 150px;
                    justify-content: space-between;

                    &:hover {
                        background-color: var(--chatbox-active);
                    }
                }
            }
        }
    }
}