* {
    box-sizing: border-box;
    transition: background-color 0.2s ease;

    .toast-message {
        font-size: 14px !important;
    }
}

:root {
    --bg-color: #ffffff;
    --bg-dark: #f6f6f6;
    --text-color: #000000;
    --border-color: 0px 5px 10px rgba(128, 128, 128, 0.3);
    --hover-color: #e7e7e7;
    --tooltip-bg: black;
    --tooltip: white;
    --chatbox-navbar: white;
    --chatbox: #f5f7fb;
    --chatbox-leftside: #ebecf5;
    --chatbox-rightside: white;
    --chatbox-icon: #878a92;
    --chatbox-active: #f7f7ff;
    --chatbox-table: #f9f9fa;
    --chatbox-table-border: #f0eff5;
    --chatbox-chat: #e6ebf5;
    --chatbox-icon2: #7269ef;
    --auth-bg: #f7f7ff;
    --auth-text: #443a40;
    --auth-subtext: #9c8ca1;
    --auth-form: white;
    --auth-input: white;
    --auth-icon: #f8f9fa
}

[data-theme="dark"] {
    --bg-color: #0d121c;
    --bg-dark: #0d121c;
    --text-color: #ffffff;
    --border-color: 0px 5px 15px rgba(0, 0, 0, 0.6);
    --hover-color: #151d2e;
    --tooltip-bg: #f0f0f0;
    --tooltip: #333;
    --chatbox-navbar: #36404a;
    --chatbox: #303841;
    --chatbox-leftside: #2d363f;
    --chatbox-rightside: #262e35;
    --chatbox-icon: #a5afce;
    --chatbox-active: #3e4a56;
    --chatbox-table: #2a333a;
    --chatbox-table-border: #36404a;
    --chatbox-chat: #36404a;
    --chatbox-icon2: #6ea8fe;
    --auth-bg: #0e0e16;
    --auth-text: #ffffff;
    --auth-subtext: #aaaaaa;
    --auth-form: #1e1e2f;
    --auth-input: #2a2a3c;
    --auth-icon: #1a1a1a;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
}